// Colors
$primary-color: #1F3C88;
$primary-color-light: #5666b9;
$primary-color-dark: #00175a;
$body-bg: #f8fafc;

// Typography
$font-family-serif: 'Spectral', serif;
$font-family-sans-serif: 'Spartan', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
